.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
#logo {
    width: 80px;
}
#navItems ul{
    font-size: 20px;
    display: flex;
    list-style-type: none;
}

#navItems ul li {
    padding: 10px;
    margin: 10px;
}

.searchBar{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#restro-container {
    background-color:#F9F3CC;
    margin: 10px;
    width: 250px;
    height: 350px;
    padding: 5px;
}

#restro-container:hover {
    /* border: solid black; */
    cursor: pointer;
}

#restro-img{
    width: 100%;
    height: 55%;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.filter-btn{
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.shimmer-box{
    background-color:#F9F3CC;
    margin: 10px;
    width: 250px;
    height: 300px;
    padding: 5px;
    border: 1px;
}

.shimmer-container{
    display: flex;
    justify-content: flex-start;
}

.header-btn{
    width: 80px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
}

.filter-btns{
    display: flex;
    margin-top: 10px;
}

.input-bar{
    height: 15px;
}

.search-btns{
    margin-top: 10px;
}

.filter-search{
    cursor: pointer;
}